<div class="mat-elevation-z8">
  <div class="title">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openAddDialog()">Add</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      <!-- <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [value]="element.position">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <!-- <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [value]="element.name">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      <!-- <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [value]="element.weight">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      <!-- <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [value]="element.symbol">
        </mat-form-field>
      </td> -->
    </ng-container>
    <!-- Operation Colnum -->
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef> Operation </th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab color="accent" (click)="openUpdateDialog(element)">update</button>&nbsp;
        <button mat-fab color="warn" (click)="delete(element.position)">delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>