.dialog {
  .card {
    width: 512px;
  }

  form {
    .form-content {
      text-align: center;
    }

    .example-full-width {
      width: 80%;
      margin: 10px 0;
    }
  }

  button {
    margin-left: 10px;
  }
}