<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
  </h1>
  </div>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/table" routerLinkActive="active">Table</a>
    </li>
    <li>
      <a routerLink="/materialTable" routerLinkActive="active">MaterialTable</a>
    </li>
    <li>
      <a routerLink="/tbform" routerLinkActive="active">TemplateDrivenForm</a>
    </li>
    <li>
      <a routerLink="/rform" routerLinkActive="active">ReactiveForm</a>
    </li>
  </ul>
  <div [@routerTransition]="gg(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>